@import "pokemon-type-colors.scss";

$small-width: 426px;
$large-width: 781px;
$xlarge-width: 1441px;

$background-color: #f0f3f6;
$pokemon-background: #fafafa;
$header-background: #fafafa;

$primary-font-color: #202326;
$secondary-font-color: #b0b3b6;
$link-color: #00AAFF;

$transparent-gray-color: rgba(30, 35, 40, 0.15);

$default-box-shadow: 0 8px 20px 0 rgba(30, 35, 40, 0.05);
$hovered-box-shadow: 0 8px 22px 0 $transparent-gray-color;

$default-transition: all ease-in 0.2s;

$footer-height: 42px;

* {
    box-sizing: border-box;
}

body, html{
    background: $background-color;
    color: $primary-font-color;
    font-family: Roboto, 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
}

body{
    height: 100%;
    padding-bottom: $footer-height;
}

.header{
    background-color: $header-background;
    border-bottom: 1px solid $transparent-gray-color;
    color: $primary-font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;


    .title{
        font-size: 1.5em;
        

        @media screen and (min-width: $small-width) {
            font-size: 2.5em;
            font-weight: lighter;
        }
    }

    .subtitle{
        margin-top: 0;

        a{
            color: $link-color;
        }
    }
    
    .search-container{
        width: 100%;
        max-width: 500px;
        flex-grow: 1;
        margin: 0 auto;
        .search{
            border-radius: 100px;
            border: 1px solid $transparent-gray-color;
            display: block;            
            font-size: 1.25em;
            outline: none;
            padding: .5em;
            transition: $default-transition;
            width: 100%;

            &:focus{
                border: 1px solid $link-color;
            }
        }
    }
}

.pokemon-container{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em auto;
    max-width: $large-width;
    
    $pokemon-margin: 6px;

    .pokemon{

        background: $pokemon-background;
        box-shadow: $default-box-shadow;
        cursor: pointer;
        margin: $pokemon-margin;
        padding: 1em;
        text-align: center;
        transition: $default-transition;
        width: calc(50% - #{$pokemon-margin * 2});

        &:hover{
            box-shadow: $hovered-box-shadow;
        }

        .pokemon-image{
            display: block;
            margin: 0 auto;
            width: 100%;

            &.loading{
                margin: 2em auto;
                width: 24%;
            }
        }

        .pokemon-name{
            font-size: 1.3em;
            margin: 0;
        }

        .pokemon-number{
            color: $secondary-font-color;
            margin: 2px 0 0;
        }

        .pokemon-type{
            border-radius: 10000px;
            color: white;
            font-size: 0.7em;
            margin: 1px;
            padding: 0.3em 0.55em;
        }
    }

    @media screen and (min-width: $small-width) {
        $pokemon-margin: 14px;

        .pokemon{
            width: calc(33.33% - #{$pokemon-margin});
        }

        padding: $pokemon-margin;
    }

    @media screen and (min-width: $large-width) {
        .pokemon{
            width: calc(25% - #{$pokemon-margin});
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 1em;
    button{
        background: $pokemon-background;
        border: none;
        box-shadow: $default-box-shadow;
        color: $primary-font-color;
        cursor: pointer;
        font-size: 1em;
        max-width: 200px;
        outline: none;
        padding: 0.5em;
        transition: $default-transition;
        width: 100%;

        &.prev{
            border-right: 1px solid $transparent-gray-color;
            border-radius: 5px 0px 0px 5px;
        }

        &.next{
            border-radius: 0px 5px 5px 0px;
        }

        &:disabled{
            color: $secondary-font-color;
            cursor: default;
            &:hover{
                box-shadow: $default-box-shadow;
            }
        }

        &:hover{
            box-shadow: $hovered-box-shadow;
        }
    }
}
.emoji{
    color: #ff1122;
    width: 15px;
}