<aside class="pagination">
    <button ng-click='Pokedex.prevPage()' ng-disabled='!Pokedex.pagination.prev' class="prev">
        Prev
    </button>
    <button ng-click='Pokedex.nextPage()' ng-disabled='!Pokedex.pagination.next' class="next">
        Next
    </button>
</aside>
<section class="pokemon-container">
    <article class="pokemon" 
             ng-repeat='pokemon in Pokedex.pokemons | filter:{"name": Pokedex.search.query}'
             ng-click='Pokedex.selectPokemon(pokemon)'>
        <p ng-bind='pokemon.name' class="pokemon-name"></p>
        <img ng-src="{{pokemon | getImage}}" 
             alt="{{pokemon.name}}"
             class="pokemon-image"
             ng-class='{"loading": pokemon._loading}'>
        <types-component types='pokemon.types'></types-component>
    </article>
</section>

<section class="pokemon-detail-container" ng-class='{"show": Pokedex.showDetail}'>
<pokedex-detail-component pokemon='Pokedex.selectedPokemon' show='Pokedex.showDetail'>
</pokedex-detail-component>
</section>

